<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/CSS/style.css">
    <title>Страница для незарегистрированных пользователей</title>
</head>
<body>

    <div class="intro">
        <div class="container">
            <h1>PAMI - cистема отзывов для друзей.</h1>
            <h2>
                <p>Мы поможем Вам составить рейтинг товаров,</p> 
                <p>основываясь лишь на предпочтениях </p>
                <p> и отзывах тех, кому Вы доверяете.</p>
            </h2>
                <a class="su_botton" href="#">начать использовать</a>
                <a class="lm_botton" href="#">Узнать больше</a>
        </div>
    </div>

    <div class="carousel">
        <div class="container">
            <div class="section">
                <img class="img" src="assets/images/Stars.png" alt="Звёзды">
                <div class="benefits_text">
                    <p>Съели что-то вкусное и хотите не забыть марку товара?</p>
                    <p>Или же наткнулись на некачественную продукцию?</p> 
                    <p>Оставьте свой честный отзыв о товаре,</p> 
                    <p>который будет доступен вашим друзьям.</p>
                </div>
            </div>
            <div class="section">
                <div class="benefits_text">
                    <p>Устали попадаться на купленные отзывы с других ресурсов?</p>
                    <p>Кому доверять, если не друзьям?</p>
                    <p>Все их рекомендации можно найти здесь!</p>
                </div>
                <img class="img" src="assets/images/Money.png" alt="Деньги">
            </div>
            <div class="section">
                <img class="img" src="assets/images/Computer.png" alt="Компьютер">
                <div class="benefits_text">
                    <p>Простой интерфейс и приятный дизайн.</p> 
                    <p>Ничто не доставит проблем с использованием!</p>
                </div>
            </div>
            <div class="section">
                <div class="benefits_text">
                    <p>Наши пользователи - ваши друзья ВКонтакте. </p>
                    <p>Анализируйте мнения знакомых</p>
                    <p>и формируйте на иx основе собственную оценку товара.</p>
                </div>
                <img class="img" src="assets/images/Users.png" alt="Пользователи">
            </div>
        </div>
    </div>
</body>
</html>
