<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="author" content="PAMIteam">
        <meta name="keywords" content="вход, приложение">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Вход в приложение PAMI</title>
        <link rel="stylesheet" href="css/styleForLogin.css">
    </head>
    <body> 
        <div class="block">
            <div id="main">
                <h3>Вход</h3>
                <p id="text">Войти с помощью <span> ВКонтакте</span>:</p>
                <button class="vkbutton" type="submit" href="#"> </button>
            </div>
        </div>
    </body>
</html>
